# EmailJS (contact form)
# Get these from https://dashboard.emailjs.com/
# In your EmailJS template, set "To Email" to yashkumarpal987@gmail.com (or use variable {{to_email}})
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=
NEXT_PUBLIC_EMAILJS_SERVICE_ID=
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=
